input[type=number] {-moz-appearance: textfield; margin: 0; }
/* Chrome */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {-webkit-appearance: none; margin:0; }
/* Opéra*/
input::-o-inner-spin-button,
input::-o-outer-spin-button {-o-appearance: none; margin:0 }

.input-number__wrapper{
  position: relative; 
  display: inline-block; 
  width: 100%; 
  margin-bottom: 1em; 
  margin-right: 1em; 
  color: #input[color];
  border-radius: var(--input-border-radius);
  overflow: hidden;
  .input-group>&,
  .form-group>&{
    margin-bottom: 0;
  }
  &:has(input[readonly]) .input-number__buttonsWrapper{pointer-events: none;}
}
.input-number__input{
  width: 100%; 
  margin: 0;
  padding-right: 1.5rem;
}
.input-number__buttonsWrapper{
  position: absolute; 
  right: 0; 
  top: 0; 
  height: 100%; 
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 50% 50%;
}
.input-number__btn{
  aspect-ratio: 5 / 3;
  place-content: center;
  display: grid;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s;
  font-family: serif;
  user-select: none;
  color: currentColor;
  &.minus{line-height: 0.85; align-content: start;}
  &.plus{line-height: 1; font-size: 0.85em; align-content: center;}
  &:hover{background: rgba(#input[border-color],0.25);}
}
